html,
body {
  font-family: "~/Library/Fonts/Forza-Medium.otf", "Forza-Medium";
  font-weight: 400;
  font-size: 16px;
}
strong {
  font-weight: 600;
}
em {
  font-weight: 200;
}
code,
pre {
  font-family: "Fira Code";
  font-weight: 800;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Knockout-50Welterweight";
  text-transform: uppercase;
  font-weight: 200;
}
a {
  color: black;
  text-decoration: underline;
}
.summary {
  font-family: "SlabSheriff";
}
em,
i {
  font-weight: 400;
}
h1 {
  font-size: 2rem;
  /* color: red; */
}
h2 {
  font-size: 1.5rem;
  /* color: yellow; */
}
h3 {
  font-size: 1.25rem;
  /* color: lime; */
}
h4 {
  font-size: 1rem;
  /* color: cyan; */
}
h5 {
  font-size: 0.875rem;
  /* color: blue; */
}
h6 {
  font-size: 0.75rem;
  /* color: purple; */
}
/* */

a {
  max-width: 12rem;
  display: block;
  margin: 2rem auto;
}

a > img {
  max-width: 10rem;
  height: auto;
}
